#texto2 {
    background: url("img/pregunta.png");
    }
#texto {
    background: url("img/logo1.jpg");
    }

.cabeza {
    background-color: rgb(130, 199, 222);
    text-align: center;
    align-items: center;
    font-size: 4pc;
    font-family: 'Noto Serif Display', serif;;
}
body {
    background-color: whitesmoke;
    padding: 0;
}
.h2 {
    border: solid;
    background-color: rgb(166, 166, 206);
    color: red;
    text-align: center;
}
.redes {
    position: relative;
    align-content: space-between;
    color: #000;
}
.redes2 {
    padding: 0;
    width: 100px;
    position: fixed;
    bottom: 200px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#boton {
    padding: 10px;
    color: white;
    background: black;
    border: none;
    outline: none;
    cursor: pointer;
}
.barra {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all .3s;
}
.li {
    list-style: none;
    width: 80%;
}
.li:hover {
    width: 100%;
    transition: all .3s;
}
a {
    text-align: center;
    padding: 10px;
    display: block;
    color: white;
}
.facebook {
    background: #1877F2;
}
.twitter {
    background:  #2962ff;
}
.instagram {
    background: #B84CCC;
}
.google {
    background: #ff0000;
}